<div>
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <img [src]='rooms.img' alt="avatar">
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 p-l-10 font-17">
                        Room {{" " + dialogTitle}}</div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="stdForm" (ngSubmit)="submit">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Room No</mat-label>
                        <input matInput formControlName="room_number" required>
                        <mat-icon matSuffix>school</mat-icon>
                        <mat-error *ngIf="stdForm.get('room_number').hasError('required')">
                            Room is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Capacity</mat-label>
                        <input matInput formControlName="capacity" required>
                        <mat-icon matSuffix>face</mat-icon>
                        <mat-error *ngIf="stdForm.get('capacity').hasError('required')">
                            Capacity is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Select Room Type</mat-label>
                        <mat-select formControlName="room_type" required>
                            <mat-option [value]="'Exquisite'">
                                Exquisite
                            </mat-option>
                            <mat-option [value]="'Good'">
                                Good
                            </mat-option>
                            <mat-option [value]="'Average'">
                                Average
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="stdForm.get('room_type').hasError('required')">
                            Select Any Room Type
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Occupied</mat-label>
                        <mat-select formControlName="occupied" required>
                            <mat-option [value]="'Yes'">
                                Yes
                            </mat-option>
                            <mat-option [value]="'No'">
                                No
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="stdForm.get('occupied').hasError('required')">
                            Occupied is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Floor</mat-label>
                        <input matInput formControlName="floor" type="number">
                        <mat-icon matSuffix>phone</mat-icon>
                        <mat-error *ngIf="stdForm.get('floor').hasError('required')">
                            Floor is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>No of beds</mat-label>
                        <input matInput formControlName="no_of_beds" type="number">
                        <mat-icon matSuffix>phone</mat-icon>
                        <mat-error *ngIf="stdForm.get('no_of_beds').hasError('required')">
                            No of beds is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Amount Per Night</mat-label>
                        <input matInput formControlName="amount_per_night" type="number">
                        <mat-icon matSuffix>phone</mat-icon>
                        <mat-error *ngIf="stdForm.get('amount_per_night').hasError('required')">
                            Amount is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" [type]="submit" [disabled]="!stdForm.valid"
                            [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
                        <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>