<div>
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='rooms.img' alt="avatar"> -->
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 p-l-10 font-17">
                        {{dialogTitle}}</div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="stdForm" (ngSubmit)="submit">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width " appearance="outline">
                        <mat-label>Customer</mat-label>
                        <mat-select formControlName="customers" required>
                            
                                <mat-option *ngFor="let customer of customers; let i= index" [value]="i">
                                    {{ customer.name + ' ' + '(' + customer.id + ')' }}
                                </mat-option>
                            
                        </mat-select>
                        <mat-error *ngIf="stdForm.get('customers').hasError('required')">
                            Select customer
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width " appearance="outline">
                        <mat-label>Room</mat-label>
                        <mat-select formControlName="rooms" required (selectionChange)="amount()">
                            
                                <mat-option *ngFor="let room of rooms; let i= index" [value]="i" >
                                    {{ room.room_number}}
                                </mat-option>
                           
                        </mat-select>
                        <mat-error *ngIf="stdForm.get('rooms').hasError('required')">
                            Select Room
                        </mat-error>
                    </mat-form-field>
                </div>
                
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>No of nights</mat-label>
                        <input matInput formControlName="no_of_nights" type="number" (keyup)="amount()" required>
                        <mat-icon matSuffix>phone</mat-icon>
                        <mat-error *ngIf="stdForm.get('no_of_nights').hasError('required')">
                            No of nights is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Amount</mat-label>
                        <input matInput formControlName="amount" type="number" readonly>
                        <mat-icon matSuffix>phone</mat-icon>
                        <mat-error *ngIf="stdForm.get('amount').hasError('required')">
                            No of nights is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>From</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="from">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="stdForm.get('from').hasError('required')">
                            Please select date
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>To</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="to">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="stdForm.get('to').hasError('required')">
                            Please select date
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" [type]="submit" [disabled]="!stdForm.valid"
                            [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
                        <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>